<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weekday Warrior</title>
  </head>

  <body>
    <h1>Hey, it's <%= dayType %>,<%= advice %> !</h1>
    <h1><%= data.title %></h1>
    <p>Current second: <%= data.seconds %></p>
    <% if (data.seconds % 2===0) {%>
    <ul>
      <% data.items.forEach((fruit) => {%>
      <li><%=fruit%></li>
      <% }) %>
    </ul>
    <% } else { %>
    <p>No items to display</p>
    <% } %>
    <p>
      <!-- HTML content goes here -->
      <%- data.htmlContent %>
    </p>
    <%- include("form.ejs") %>
    <!-- Footer goes here -->
    <%- include("footer.ejs") %>
  </body>
</html>
